*{
	box-sizing:border-box;
}

html,body{
	margin:0px;
	font-family:sans-serif;
	font-size:1.2em;
}

.table{
	display:table;
	border-collapse:collapse;
	width:100%;
}

.tr{
	display:table-row;
}

.td{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:25%;
	border:1px solid #000;
	cursor:pointer;
	padding-top:30px;
	padding-bottom:30px;
}

.td:hover{
	background:#f5f5f5;
}

.td:active{box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.75);}

.td.clear{
	background:gray;
	color:#fff;
}

.td.sign{
	background:#ccc;
}


#calculator{
	max-width:360px;
}

input{
	width:100%;
	border:1px solid #000;
	border-bottom:none;
	font-size:1em;
	padding:10px;
	background:#fff;
}

#submit,#test{
	height:60px;
	line-height:60px;
	vertical-align:middle;
	text-align:center;
	background:#333;
	color:#fff;
	cursor:pointer;
}

#submit:hover,#test:hover{
	opacity:0.8;
}

#error{
	display:none;
	color:red;
	padding-top:10px;
	text-align:center;
}

#test{
	max-width:360px;
	background:#ccc;
	color:#000;
	margin-top:30px;
	padding-left:20px;
	padding-right:20px;
}

#test_output{
	padding-top:10px;
}

.test_table{
	border-collapse:collapse;
}

.test_table th{
	text-align:center;
	background:#ccc;
	border:1px solid #000;
	padding:10px;
}

.test_table td{
	text-align:center;
	border:1px solid #000;
	padding:10px;
}