<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
        <title>Calcuator</title>
		<script>var ajax_url="{{ path('ajax') }}";</script>
		<script src="{{ asset('assets/jquery.js') }}"></script>
		<script src="{{ asset('assets/script.js') }}"></script>
		<link href="{{ asset('assets/style.css') }}" rel="stylesheet"></link>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
