{% extends 'base.html.twig' %}

{% block content %}
<div id="calculator">
	<input type="text" id="input" placeholder="Enter your expression" disabled> 
			
	<div class="table">
		<div class="tr">
			<div class="td">1</div>
			<div class="td">2</div>
			<div class="td">3</div>
			<div class="td sign">+</div>
		</div>
		<div class="tr">
			<div class="td">4</div>
			<div class="td">5</div>
			<div class="td">6</div>
			<div class="td sign">-</div>
		</div>
		<div class="tr">
			<div class="td">7</div>
			<div class="td">8</div>
			<div class="td">9</div>
			<div class="td sign">*</div>
		</div>
		<div class="tr">
			<div class="td clear">C</div>
			<div class="td">0</div>
			<div class="td">.</div>
			<div class="td sign">÷</div>
		</div>
	</div>
	<div id="submit">CALCULATE</div>
	<div id="error"></div>
</div>
		
<div id="test">Run some tests</div>
<div id="test_output"></div>
{% endblock %}
