{% extends 'base.html.twig' %}

{% block content %}
<table class="test_table">
	<tr>
		<th>Expression</th>
		<th>Expеctation</th>
		<th>Result</th>
	</tr>
	{% for t in tests %}
		<tr style="color:{{ t.color }};">
			<td>{{ t.expression }}</td>
			<td>{{ t.expectation }}</td>
			<td>{{ t.result }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}